/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

body {
    background-color: white !important;
    background-size: 1200% 1200%;
}

h1 {
    color: black;
}

p {
    color: black;
}

a:hover {
    color: #000000 !important;
    text-decoration: none !important;
    }  

a:link {
    color: #000000 !important;
}
    
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
